.header {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    padding-top: 96px;
    padding-bottom: 77px;

}
.header__title {
    font-family: Inter;
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
    color: var(--black); 
}

@media screen and (max-width: 768px) {
    .header__title {
        font-family: Inter;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 0%;
        color: var(--black); 
        padding-left: 16px;
    }
}