.tabs {
    display: flex;
    background-color: var(--grey-1);
}

.tabs__scroller {
    display: flex;
    margin-bottom: 50px;
}

.tabs__content_container {
    display: none;
}

.tabs__content_element {
    display: none;
}

.tabs__content_templates {
    display: none;
}

.tabs__input {
    margin-bottom: 90px;
}

.tabs__input__item {
    position: absolute;
    left: -100vw;
}

.tabs__scroller {
    display: flex;
    align-items: center;
    gap: 12px;
}

.radio__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    margin-bottom: 50px;
    margin-right: 40px;
}

.tabs__input__item_all-tab:focus ~ .tabs__scroller .tabs__scroller__title_all-tab {
    border-bottom: 5px var(--black) solid;
}
.tabs__input__item_elements-tab:focus ~ .tabs__scroller .tabs__scroller__title_elements-tab {
    border-bottom: 5px var(--black) solid;
}

.tabs__input__item_containers-tab:focus ~ .tabs__scroller .tabs__scroller__title_containers-tab {
    border-bottom: 5px var(--black) solid;
}

.tabs__input__item_templates-tab:focus ~ .tabs__scroller .tabs__scroller__title_templates-tab {
    border-bottom: 5px var(--black) solid;
}

.tabs__input__item_all-tab:checked ~ .tabs__content_container {
    display: block;
} 

.tabs__input__item_all-tab:checked ~ .tabs__content_element {
    display: block;
} 

.tabs__input__item_containers-tab:checked ~ .tabs__content_container {
    display: block;
} 

.tabs__input__item_elements-tab:checked ~ .tabs__content_element {
    display: block;
} 
.tabs__input__item_templates-tab:checked ~ .tabs__content_templates {
    display: block;
}
.tabs__content_templates_header {
    font-size: 24px;
    color: var(--grey-3);
    margin-top: 50px;
    padding-bottom: 30px;
}