.nav {
    display: flex;
    background-color: var(--grey-1);
}

.tabs__scroller {
    display: flex;
}

.tabs__content_container {
    display: none;
}

.tabs__content_element {
    display: none;
}

.radio__input {
    position: absolute;
    left: -100vw;
}

.tabs__scroller {
    display: flex;
    align-items: center;
    gap: 12px;
}

.radio__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    margin-bottom: 50px;
    margin-right: 40px;
}

.all-tab:focus ~ .tabs__scroller .all-tab {
    border-bottom: 5px var(--black) solid;
}
.elements-tab:focus ~ .tabs__scroller .elements-tab {
    border-bottom: 5px var(--black) solid;
}

.containers-tab:focus ~ .tabs__scroller .containers-tab {
    border-bottom: 5px var(--black) solid;
}

.templates-tab:focus ~ .tabs__scroller .templates-tab {
    border-bottom: 5px var(--black) solid;
}

.all-tab:checked ~ .tabs__content_container {
    display: block;
} 

.all-tab:checked ~ .tabs__content_element {
    display: block;
} 

.containers-tab:checked ~ .tabs__content_container {
    display: block;
} 

.elements-tab:checked ~ .tabs__content_element {
    display: block;
} 
