.template {
    height: 100%;
    background-color: var(--grey-template);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header"
                          "main"
                         "footer";                      
}

.template__header {
    grid-area: header;
}

.template__main {
    grid-area: main;
}

.template__footer {
    grid-area: footer;
    background: var(--grey-template);
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 4%;
    color: var(--grey-3);
    text-align: center;
    padding: 56px;
}

