.card {
    height: 367px;
    border-radius: 12px;
    background-color: var(--white);
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    line-height: 24.61px;
    text-align: center;
    color: #212429;
    padding: 24px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 24px;
    align-items: center;
    flex-grow: 1;
    flex-basis: 30%;
}

.card__preview {
    padding-bottom: 51px;
}

@media screen and (max-width: 768px) {
    .card {
        height: 367px;
    }
}