.accordion__summary {
    display: flex;
    justify-content: space-between;
    color: #212429;
}

.accordion__text {
    color: #495057;
    padding-top: 16px;
    padding-bottom: 8px;
}

.accordion__summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}

.accordeon__icon {
    align-self: center;
}

.accordion__item {
    margin-bottom: 8px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    padding: 24px 32px 24px 32px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}