.toggler {
    display: inline-block;
}

.toggler__control {
    width: 52px;
    height: 28px;
    border-radius: 16px;
    border: 1px solid var(--grey-2);
    display: flex;
    align-items: center;
}

.toggler__input {
    position: absolute;
    left: -100vw;
}

.toggler__state {
    display: flex;
    align-items: center;
    gap: 12px;
}

.toggler__inner {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--grey-2);
    
}

.toggler__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.toggler__input:checked ~ .toggler__state .toggler__control {
    background-color: var(--blue);
    border-color: var(--blue);
    justify-content: end;
}

.toggler__input:checked ~ .toggler__state .toggler__inner {
    background-color: var(--white);
}

.toggler__input:focus ~ .toggler__state .toggler__title {
    text-decoration: underline;
}

.toggler__input:disabled ~ .toggler__state .toggler__control {
    background-color: var(--grey-2);
    color: var(--grey-2);
}

.toggler__input:disabled ~ .toggler__state .toggler__control .toggler__inner{
    background-color: var(--grey-3);
}