.histogram {
    display: flex;
    flex-direction: column;
    gap: 39px;
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    padding: 16px 24px 24px 24px;
}

.histogram__header {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.histogram__container {
    font-family: Inter;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.histogram__text {
    font-size: 16px;
    text-align: left;
    color: #212429;
    opacity: 0.8px;
    line-height: 24px;
    margin: 0px;
}
.histogram__link {
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #4263EB;
    margin: 0px;
    order: 1;
}
.histogram__number {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    color: #212429;
    margin: 0px;
}
.histogram__content {
   display: flex;
   align-items: baseline;
   height: 50px;
   gap: 1px; 
}
.item {
    background-color: #4263EB;
    height: 100%;
    flex-grow: 1;
}
.histogram__item_50 {
    height: 100%;
}
.histogram__item_45 {
    height: 90%;
}
.histogram__item_39 {
    height: 78%;
}
.histogram__item_35 {
    height: 70%;
}
.histogram__item_30 {
    height: 60%;
}
.histogram__item_22 {
    height: 44%;
}
.histogram__item_17 {
    height: 34%;
}
.histogram__item_11 {
    height: 22%;
}
