.main {
    background-color: var( --grey-1);
    display: flex;
    justify-content: center;
    padding-top: 68px;
    padding-bottom: 68px;
}
.main__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}