.main {
    background-color: var( --grey-1);
    flex-basis: 60%;
    display: flex;
    justify-content: center;
}
.container {
    max-width: 1110px;
    width: 100%;
}
.main__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 68px;
    padding-bottom: 68px;
}