@import '../fonts/fonts.css';
@import '../../components/header/header.css';
@import '../../components/footer/footer.css';
@import '../../components/page/page.css';
@import '../../components/main/main.css';
@import '../../components/template/template.css';
@import '../../components/container/container.css';
@import '../../components/menu/menu.css';
@import '../../components/componentDescription/componentDescription.css';
@import '../../03-lection1/01-button/button.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --blue-1: #4263EB;
    --blue-2: #334D6E;
    --blue-3: rgba(160, 177, 245, 0.2);
    --blue-modal: #334D6E;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-template: #F9FAFC;
    --grey-modal: rgba(196, 196, 196, 0.5);

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

