.radio {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.radio__item {
    display: inline-block;
}

.radio__control {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid var(--grey-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio__circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--blue);
    display: none;
}

.radio__input {
    position: absolute;
    left: -100vw;
}

.radio__state {
    display: flex;
    align-items: center;
    gap: 12px;
}

.radio__control_disabled {
    background-color: var(--grey-2);
}

.radio__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.radio__title_disabled {
    color: var(--grey-2);
}

.radio__input:checked ~ .radio__state .radio__control {
    border-color: var(--blue);
}

.radio__input:checked ~ .radio__state .radio__control .radio__circle {
    display: block;
}

.radio__input:focus ~ .radio__state .radio__title {
    text-decoration: underline;
}