.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip__bubble {
    display: none;
    width: 129px;
    background: var(--blue);
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    color: var(--grey-2);
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 10px;
    position: absolute;
    transform: translateY(-70%);
}

.tooltip__bubble:before {
    content: "";
    border: 6px solid transparent;
    border-top: 6px solid var(--blue);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip__trigger {
    top: 100%;
    transform: translateX(257%) translateY(170%);
}

.tooltip__trigger:hover ~ .tooltip__bubble {
    display: block;
}