.footer {
    background-color: var(--white);
    padding-top: 71px;
    padding-bottom: 136px;
    margin: auto;
}
.footer__title {
    font-family: Inter;
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
    color: var(--black);
    margin: 0px;
    text-align: center;
    margin-bottom: 24px;
}
.footer__text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--black);
    margin: 0px;
    text-align: center;
}