.footer {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding-top: 71px;
    padding-bottom: 136px;
}
.footer__title {
    font-family: Inter;
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
    color: var(--black);
    margin: 0px;
    display: flex;
    justify-content: center;
}
.footer__text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--black);
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}