.footer {
    background-color: transparent;
}

.footer__text {
    background: var(--grey-template);
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 4%;
    color: var(--grey-3);
    text-align: center;
    padding: 56px;
}

@media screen and (max-width: 768px) {
    .footer {
        display: none;
    }
}