.header__text {
    display: flex;
    gap: 24px;
}

.header__text__item {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    color: var(--grey-3);
}

.header__text__item_selected {
 color: var(--black);
}