.menu__title {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
}

.menu__list {
    display: grid;
    grid-template-rows: repeat(7, 22px);
    row-gap: 4px;
}

.menu__list__item {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
}

.menu__list__item_mt-30 {
    margin-top: 30px;
}

.menu__list__item_selected {
    color: var(--red);
}