.component-description {
    background: var(--white);
    padding: 32px 48px;
    grid-column-start: fourth;
    grid-column-end: fifth;
    grid-row-start: row2;
    grid-row-end: row4;
}

.component-description__title {
    font-family: Inter;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4)
}